<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Season and Episode number</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial=>'episode_list_entry', :collection=>episode_list %>
  </tbody>
</table>
